<div class="jumbotron text-white text-center h-50">
    <h1 class="display-4 pb-3">Find, install, and publish </br>RubyGems</h1>

    <hr class="my-4 py-3">

    <div class="row justify-content-sm-center py-3">
        <div class="col-lg-8">
            <div class="input-group input-bar">
                <input
                    type="text"
                    class="form-control font-italic"
                    placeholder="Search Gems..."
                    data-ng-model="$ctrl.searchWord"
                />
                <span class="input-group-btn">
                    <button
                        class="btn btn-secondary"
                        type="button"
                        data-ng-click="$ctrl.findGems($event)"
                    >
                    Search
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>